body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.shadow1 { 
  box-shadow: 0 5px 10px rgb(154 160 185 / 41%), 0 15px 40px rgba(166,173,201,.2)
}

.shadow2 { 
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

.mt {
  margin-top: 0.5rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}