body {
  margin: 0;
  font-family: 'Roboto';
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.shadow1 { 
  box-shadow: 0 5px 10px rgb(154 160 185 / 41%), 0 15px 40px rgba(166,173,201,.2)
}

.shadow2 { 
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

.mt {
  margin-top: 0.5rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}

div.thumbnail {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 75px;
  display: inline-block;
  position: relative;
}

div.thumbnail img {
  width: 75px;
  height: auto;
}

div.thumbnail .overlay {
  transition-property: opacity;
  transition-duration: 3s;
  position: absolute;
  width: 75px;
  height: 75px;
  top: 0;
  left: 0
}

div.thumbnail .overlay.failure {
  background-color: #d44848;
  opacity: 0;
}

div.thumbnail .overlay.success {
  background-color: green;
  opacity: 0;
}

div.thumbnail .overlay.active {
  opacity: 1;
}

div.thumbnail .icon {
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  z-index: 10000;
  height: 35px;
  width: 35px;
}

.login-form, .home-view {
  width: 500px;
  min-height: 50px;
  padding: 1.5rem;
  border-radius: 1rem;
  position: relative;
  background-color: white
}

.view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.text-align-center {
  text-align: center;
}

.logo {
  position: absolute;
  top: -40px;
  left:0;
  right: 0;
  height: 40px;
  text-align: center;
}